<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\StaffType $staffType
 */
?>
<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $staffType->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $staffType->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Staff Types'), ['action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('List Staff'), ['controller' => 'Staff', 'action' => 'index']) ?></li>
        <li><?= $this->Html->link(__('New Staff'), ['controller' => 'Staff', 'action' => 'add']) ?></li>
    </ul>
</nav>
<div class="staffTypes form large-9 medium-8 columns content">
    <?= $this->Form->create($staffType) ?>
    <fieldset>
        <legend><?= __('Edit Staff Type') ?></legend>
        <?php
            echo $this->Form->control('staff_type');
        ?>
    </fieldset>
    <div>
    <?= $this->Form->button(__('Save'),['class'=>'btn btn-success']) ?>
    <?= $this->Form->end() ?>
    <?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $staffType->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $staffType->id), 'class' => 'btn btn-danger']
            ) ?>
            </div>
</div>
