<?php
/**
 * @var \App\View\AppView $this
 * @var \App\Model\Entity\ArtifactsExternalResource[]|\Cake\Collection\CollectionInterface $artifactsExternalResources
 */
?>

<h3 class="display-4 pt-3"><?= __('Artifacts External Resources') ?></h3>

<table cellpadding="0" cellspacing="0" class="table-bootstrap my-3">
    <thead>
        <tr>
            <!-- <th scope="col"><?= $this->Paginator->sort('id') ?></th> -->
            <th scope="col"><?= $this->Paginator->sort('artifact_id') ?></th>
            <th scope="col"><?= $this->Paginator->sort('external_resource_id') ?></th>
            <th scope="col"><?= $this->Paginator->sort('external_resource_key') ?></th>
            <th scope="col"><?= __('Actions') ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($artifactsExternalResources as $artifactsExternalResource): ?>
        <tr>
            <!-- <td><?= $this->Number->format($artifactsExternalResource->id) ?></td> -->
            <td><?= $artifactsExternalResource->has('artifact') ? $this->Html->link($artifactsExternalResource->artifact->id, ['controller' => 'Artifacts', 'action' => 'view', $artifactsExternalResource->artifact->id]) : '' ?></td>
            <td><?= $artifactsExternalResource->has('external_resource') ? $this->Html->link($artifactsExternalResource->external_resource->id, ['controller' => 'ExternalResources', 'action' => 'view', $artifactsExternalResource->external_resource->id]) : '' ?></td>
            <td><?= h($artifactsExternalResource->external_resource_key) ?></td>
            <td>
            <?= $this->Html->link(__('View'), ['action' => 'view',  $artifactsExternalResource->id],['escape' => false,'class'=>"btn btn-primary btn-sm"]) ?>
            <?= $this->Html->link(__('Edit'), ['action' => 'edit',  $artifactsExternalResource->id],['escape' => false,'class'=>"btn btn-warning btn-sm"]) ?>
            <?= $this->Form->postLink(__('Delete'), ['action' => 'delete',  $artifactsExternalResource->id], ['confirm' => __('Are you sure you want to delete # {0}?',  $artifactsExternalResource->id),'escape'=>false,'class'=>"btn btn-danger btn-sm"]) ?>
                
            </td>
        </tr>
        <?php endforeach; ?>
    </tbody>
</table>

<?php echo $this->element('Paginator'); ?>

